<div fxFlex=100 fxLayout="column" fxLayoutAlign="center center" >
    <div class="takeAnote">
            <div class="titleInputSection" >
                <input placeholder="Take a note .." class="titleInput">
                <div class="titleImgSection">
                    <div>
                        <a> <img src="../../../assets/tick.svg"> </a>
                        <a> <img src="../../../assets/pen.svg"> </a>
                        <a> <img src="../../../assets/image.svg"> </a>
                    </div>
                    <span>
                        <a> <img src="../../../assets/pin.svg"> </a>
                    </span>
                </div>
            </div>

            <div>
                <div appearance="fill">
                    <textarea matInput  placeholder="Take a note.." class="noteDescription"></textarea>
                </div>

                <div style="display: flex;">
                    <div style="margin-left: auto;">
                        <button mat-button class="closebutton">Close</button>
                    </div>
                </div>
            </div>

    </div>

</div>