<div style="display: flex;">
    <button mat-icon-button title="Remind Me">
      <img src="../../../assets/Images/RemindMe.png" style="height:18px;width:18px;">
    </button>
    <button mat-icon-button title="Add Collaborator">
      <img src="../../../assets/Images/AddPerson.png" style="height:18px;width:18px;">
    </button>
    <button mat-icon-button title="Background Options">
      <img src="../../../assets/Images/Colors.png" style="height:18px;width:18px;">
    </button>
    <button mat-icon-button title="Add Images">
      <img src="../../../assets/Images/Gallery.png" style="height:18px;width:18px;">
    </button>
    <button mat-icon-button title="Archive">
      <img src="../../../assets/Images/Archive.png" style="height:18px;width:18px;">
    </button>
    <button mat-icon-button title="More">
      <img src="../../../assets/Images/More.png" style="height:18px;width:18px;">
    </button>
  </div>