.layout
{
    display: flex;
    justify-content: flex-start;
    padding-left: 32%;
    padding-right: 32%;
}
.container
{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 10px #00000029;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 300px;
    margin-bottom: 40px;
}
.reg-container
{
    display: flex;
    min-width: 60%;
    flex-direction: column;
}
.form-head
{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    text-transform: capitalize;
    padding: 15px;
}
.form-account
{
    margin-bottom: 30px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    padding: 15px;
}
.form-group
{
    display: flex;
    justify-content:flex-start; 
    margin-bottom: 10px;
}
.buttons
{
    width: 500px;
    display: flex;
    justify-content: right;
}