<div class="temp">
    <div class="maincontainer">
        <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header style="height: 50px;">
                        <mat-form-field>
                            <input matInput placeholder="Title" style="height: 20px;">
                        </mat-form-field>
                </mat-expansion-panel-header>
            <mat-panel-title style="height: 50px;">
                <div style="height: 50px;">
                    <mat-form-field appearance="fill">
                        <input matInput placeholder="Take A Note" style="height: 20px;">
                    </mat-form-field>
                </div>
            </mat-panel-title>
            <br>
            <div class="iconspanel">

            </div>
        </mat-expansion-panel>
    </div>
</div>