.container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-left: 20px;
}
.notes {
    border: 1px;
    border-color: #6d7075;
    box-shadow: 1px 1px 2px 2px gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 40px;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-left: 15px;
    padding-right: 10px;
    background-color: white;
}
.notes:hover {
    box-shadow: 1px 1px 3px 3px gray;
}
.title {
    margin-left: 10px;
    font-size: 25px;
}
.description {
    margin-left: 10px;
    font-size: medium;
}
.icon
{
    display: inline-block;
}