.layout
{
    display: flex;
    justify-content: flex-start;
    padding-left: 32%;
    padding-right: 32%;
}
.container
{
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 15px;
    border: 1px solid lightgray;
    box-shadow: 0px 0px 10px #00000029;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 250px;
    margin-bottom: 40px;
}
.reg-container
{
    display: flex;
    min-width: 60%;
    flex-direction: column;
}
.form-head
{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    padding: 15px;
}
.form-account
{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    padding: 15px;
}
.form-group
{
    height: 50px;
    display: flex;
    justify-content:flex-start; 
    margin-bottom: 10px;
}
.form-group1
{
    display: flex;
    justify-content:flex-start; 
    margin-bottom: 10px;
}
mat-hint {
    font-size: small;
    font-size: 15px;
    color: #68696b;
    text-decoration: none;
    padding-bottom: 20px;
    padding-left: 10px;
  }
.form-field
{
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
}
.buttons
{
    display: flex;
    justify-content: right;
}