<div class="layout">
    <div class="container">
        <div class="reg-container">
            <div class="form-head">
                <div>
                    <span style="color:rgb(4, 157, 204);font-size:30px;font-family: Google Sans;">F</span>
                    <span style="color: red;font-size:30px;font-family: Google Sans;">u</span>
                    <span style="color: rgb(255, 217, 0);font-size:30px;font-family: Google Sans;">n</span>
                    <span style="color:rgb(4, 157, 204);font-size:30px;font-family: Google Sans;">d</span>
                    <span style="color: rgb(4, 223, 4);font-size:30px;font-family: Google Sans;">o</span>
                    <span style="color: rgb(252, 49, 49);font-size:30px;font-family: Google Sans;">o</span>
                </div>
            </div>
            <div class='form-account'>
                <span style="font-size:25px;font-family: Google Sans;">Reset Account Password</span>
            </div>
            <br>
            <div>
                <form [formGroup]="ResetForm" (ngSubmit)="OnSubmit()">
                    <div class="form-group1">
                        <mat-form-field appearance="outline" class="form-field">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Password" type="Password" formControlName="Password">
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field appearance="outline" class="form-field">
                            <mat-label>Confirm new password</mat-label>
                            <input matInput placeholder="Confirm new password" type="ConfirmPassword" formControlName="ConfirmPassword">
                        </mat-form-field>
                    </div>
                        <mat-hint>Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
                        <br>
                    <div class="form-group form-field">
                        <section style="margin-top: 20px;">
                            <mat-checkbox>Show Password</mat-checkbox>
                        </section>
                    </div>
                    <div class="form-group buttons">
                        <button style="width: 80px;" mat-raised-button color="primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>